/client/android/WifiWorldBaby/gen
/client/android/WifiWorldBaby/bin
/client/android/WifiWorldBaby/proguard
/client/android/WifiWorldBaby/project.properties
/client/android/WifiWorldBaby/proguard-project.txt
/client/android/WifiWorldBaby/lint.xml
/client/android/WifiWorldBaby/.settings
/client/android/WifiWorldBaby/.idea
/client/android/WifiWorldBaby/.gradle
/client/android/WifiWorldBaby/out/client/android/WifiWorld/gen
/client/android/WifiWorld/gen
/client/android/WifiWorld/bin
/client/android/WifiWorld/proguard
/client/android/WifiWorld/project.properties
/client/android/WifiWorld/proguard-project.txt
/client/android/WifiWorld/lint.xml
/client/android/WifiWorld/.settings
/client/android/WifiWorld/.idea
/client/android/WifiWorld/.gradle
/client/android/WifiWorld/out
*.DS_Store
